{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div>
    <div class="fixed-div">
        <nav>
            <ul>
                <li><a href="#general">Главная</a></li>
                <li><a href="#info">О нас</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
                <div class="auth-links">
                    <a href="{% url 'register' %}">Регистрация</a>
                    <a href="{% url 'login' %}">Вход</a>
                </div>
        </nav>
    </div>
    <div class="banner" id="general">
        <img src="{% static 'img/logo.png' %}" alt="Главная">
        </a>
    </div>
    <div class="container" id="info">
        <h2>Добро пожаловать на нашу площадку!</h2>
        <p class="description">Мы рады представить вам наш развивающийся проект - площадку, которая поможет вам сделать продажи товаров и услуг еще более удобными и эффективными. Наша площадка предоставляет уникальные возможности для расширения вашего бизнеса, привлечения новых клиентов и увеличения доходов.</p>
        <ul class="advantages">
            <li>Простота и удобство использования</li>
            <li>Большой выбор функций</li>
            <li>Надежность и безопасность</li>
            <li>Поддержка и обучение</li>
        </ul>
        <p>Мы верим, что наша платформа станет для вас надежным партнером в бизнесе и поможет вам достичь новых высот в продажах товаров и услуг. Присоединяйтесь к нам и начните использовать все преимущества нашей платформы уже сегодня!</p>
    </div>
</div>
{% endblock %}