{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/my_ps.css' %}">
<div class="fixed-div">
  <nav class="top-navigation">
    <ul>
      <li><a href="{% url 'homepage' %}">На главную</a></li>
      <li><a href="{% url 'product_list' %}">Доска объявлений</a></li>
      <li><a href="{% url 'profile' %}">Профиль</a></li>
      <li><a href="{% url 'my_orders' %}">Мои заказы</a></li>
      <li><a href="{% url 'my_sales' %}">Продажи</a></li>
      <li>
        <form id="logout-form" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <a onclick="document.getElementById('logout-form').submit()">Выйти</a>
        </form>
      </li>
    </ul>
  </nav>
</div>
<div class="name_pr">
  <h1>Активные товары</h1>
</div>
<div>
  <button onclick="window.location.href = '{% url 'create_product' %}';" class="btn btn-primary">Создать объявление</button>
</div>
{% for product in active_products %}
<div class="product_div">
    <table class="product-table">
      <tr>
        <td rowspan="5" class="product-image">
            <a href="{% url 'product' p_id=product.id %}">
                <img src="{{ product.cur_img.url }}" alt="Обложка">
            </a>
        </td>
      </tr>
      <tr>
        <td class="product-name" colspan="3">{{ product.name }}</td>
      </tr>
      <tr>
        <td>Категория</td>
        <td class="product-category">{{ product.p_cat.cp_name }}</td>
      </tr>
      <tr>
        <td class="product-description">Описание</td>
        <td class="product-description">{{ product.description }}</td>
      </tr>
      <tr>
        <td>Адрес:</td>
        <td>{{product.client.address}}</td>
      </tr>
        <tr>
            <td colspan="3">${{ product.price }}</td>
        </tr>
    </table>
</div>
{% endfor %}
<div class="name_pr">
  <h1>Не активные товары</h1>
</div>
{% for product in false_products %}
<div class="product_div">
    <table class="product-table">
      <tr>
        <td rowspan="5" class="product-image">
            <a href="{% url 'product' p_id=product.id %}">
                <img src="{{ product.cur_img.url }}" alt="Обложка">
            </a>
        </td>
      </tr>
      <tr>
        <td class="product-name" colspan="3">{{ product.name }}</td>
      </tr>
      <tr>
        <td>Категория</td>
        <td class="product-category">{{ product.p_cat.cp_name }}</td>
      </tr>
      <tr>
        <td class="product-description">Описание</td>
        <td class="product-description">{{ product.description }}</td>
      </tr>
      <tr>
        <td>Адрес:</td>
        <td>{{product.client.address}}</td>
      </tr>
        <tr>
            <td colspan="3">${{ product.price }}</td>
        </tr>
    </table>
</div>
{% endfor %}

{% endblock %}
